<html lang="en"></html>
<head>
    <title><%= title %></title>
</head>
<body>
    <%- include("partials/navbar.ejs", { navLinks: navLinks }) %>
    <h1><%= title %></h1>
    <p>This is the about page</p>
</body>
</html>